.sidebar {
    width: 10%;
    background-color: #fcfaf2;
    padding: 20px;
    height: 100vh;
    transition: width 0.3s ease;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .sidebar {
      width: 15%; /* Sidebar thu nhỏ trên màn hình vừa */
    }
  
    .sidebar li {
      font-size: 14px; /* Giảm kích thước font */
    }
  }

  @media (max-width: 768px) {
    .sidebar {
        width: 10%; /* Sidebar nhỏ hơn trên màn hình nhỏ */
        padding: 10px; /* Giảm padding */
      }
    
      .sidebar li {
        font-size: 12px; /* Tiếp tục giảm kích thước font */
    }
}
  